<!-- accounts/templates/accounts/user_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            text-align: center;
        }
        .nav ul li{
            display: inline-block;
        }
        table{
            width: 70%;
            margin: auto;
            border: 1px solid ;
        }
        td, tr, th {
            border: 1px solid;
        }
    </style>
</head>
<body>
    <h1>Transaction</h1>
    <p>Welcome, {{ user.username }}! This is your transaction page...</p>
    <div class="nav">
        <ul>
            <li><a href="{% url 'Transaction' %}">Transaction</a></li>
            <li><a href="{%url 'dashboard'%}">Home</a></li>
        </ul>
    </div>
    <h2>Product Details</h2>
    <table>
        <tr>
            <th>Is book available?</th>
        </tr>
        <tr>
            <th>Issue book?</th>
        </tr>
        <tr>
            <th>Return Book?</th>
        </tr>
        <tr>
            <th>Pay Fine?</th>
        </tr>
    </table>
</body>
</html>