{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <h1>Hello. What can we help you with?</h1>
    <hr><hr>
    <div class="customer-option">
        <h3>Customer Service</h3>
        <div class="problem-container">
            <div class="problem-box">
                <div class="problem">
                    <img src="https://imgs.search.brave.com/Y_rmO_RweXBV13fhQEyWzgd5axk2ZjngUG_Fy4WZWKo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzcyLzc4Lzcw/LzM2MF9GXzI3Mjc4/NzA2M19tRmsza05C/b2dSTDNBcTI3TDV2/MTZVYTZHcVNJUDB2/MS5qcGc" alt="">
                    <div class="p-card">
                        <h4>Your Orders</h4>
                        <p>Order Status</p>
                        <p>View Details</p>
                    </div>
                </div>
            </div>
            <div class="problem-box">
                <div class="problem">
                    <img src="https://imgs.search.brave.com/Y_rmO_RweXBV13fhQEyWzgd5axk2ZjngUG_Fy4WZWKo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzcyLzc4Lzcw/LzM2MF9GXzI3Mjc4/NzA2M19tRmsza05C/b2dSTDNBcTI3TDV2/MTZVYTZHcVNJUDB2/MS5qcGc" alt="">
                    <div class="p-card">
                        <h4>Your Orders</h4>
                        <p>Order Status</p>
                        <p>View Details</p>
                    </div>
                </div>
            </div>
            <div class="problem-box">
                <div class="problem">
                    <img src="https://imgs.search.brave.com/Y_rmO_RweXBV13fhQEyWzgd5axk2ZjngUG_Fy4WZWKo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzcyLzc4Lzcw/LzM2MF9GXzI3Mjc4/NzA2M19tRmsza05C/b2dSTDNBcTI3TDV2/MTZVYTZHcVNJUDB2/MS5qcGc" alt="">
                    <div class="p-card">
                        <h4>Your Orders</h4>
                        <p>Order Status</p>
                        <p>View Details</p>
                    </div>
                </div>
            </div>
            <div class="problem-box">
                <div class="problem">
                    <img src="https://imgs.search.brave.com/Y_rmO_RweXBV13fhQEyWzgd5axk2ZjngUG_Fy4WZWKo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzcyLzc4Lzcw/LzM2MF9GXzI3Mjc4/NzA2M19tRmsza05C/b2dSTDNBcTI3TDV2/MTZVYTZHcVNJUDB2/MS5qcGc" alt="">
                    <div class="p-card">
                        <h4>Your Orders</h4>
                        <p>Order Status</p>
                        <p>View Details</p>
                    </div>
                </div>
            </div>
            <div class="problem-box">
                <div class="problem">
                    <img src="https://imgs.search.brave.com/Y_rmO_RweXBV13fhQEyWzgd5axk2ZjngUG_Fy4WZWKo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzcyLzc4Lzcw/LzM2MF9GXzI3Mjc4/NzA2M19tRmsza05C/b2dSTDNBcTI3TDV2/MTZVYTZHcVNJUDB2/MS5qcGc" alt="">
                    <div class="p-card">
                        <h4>Your Orders</h4>
                        <p>Order Status</p>
                        <p>View Details</p>
                    </div>
                </div>
            </div>
            <div class="problem-box">
                <div class="problem">
                    <img src="https://imgs.search.brave.com/Y_rmO_RweXBV13fhQEyWzgd5axk2ZjngUG_Fy4WZWKo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzcyLzc4Lzcw/LzM2MF9GXzI3Mjc4/NzA2M19tRmsza05C/b2dSTDNBcTI3TDV2/MTZVYTZHcVNJUDB2/MS5qcGc" alt="">
                    <div class="p-card">
                        <h4>Your Orders</h4>
                        <p>Order Status</p>
                        <p>View Details</p>
                    </div>
                </div>
            </div>
            <div class="problem-box">
                <div class="problem">
                    <img src="https://imgs.search.brave.com/Y_rmO_RweXBV13fhQEyWzgd5axk2ZjngUG_Fy4WZWKo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzcyLzc4Lzcw/LzM2MF9GXzI3Mjc4/NzA2M19tRmsza05C/b2dSTDNBcTI3TDV2/MTZVYTZHcVNJUDB2/MS5qcGc" alt="">
                    <div class="p-card">
                        <h4>Your Orders</h4>
                        <p>Order Status</p>
                        <p>View Details</p>
                    </div>
                </div>
            </div>
            <div class="problem-box">
                <div class="problem">
                    <img src="https://imgs.search.brave.com/Y_rmO_RweXBV13fhQEyWzgd5axk2ZjngUG_Fy4WZWKo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzcyLzc4Lzcw/LzM2MF9GXzI3Mjc4/NzA2M19tRmsza05C/b2dSTDNBcTI3TDV2/MTZVYTZHcVNJUDB2/MS5qcGc" alt="">
                    <div class="p-card">
                        <h4>Your Orders</h4>
                        <p>Order Status</p>
                        <p>View Details</p>
                    </div>
                </div>
            </div>
            <div class="problem-box">
                <div class="problem">
                    <img src="https://imgs.search.brave.com/Y_rmO_RweXBV13fhQEyWzgd5axk2ZjngUG_Fy4WZWKo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzcyLzc4Lzcw/LzM2MF9GXzI3Mjc4/NzA2M19tRmsza05C/b2dSTDNBcTI3TDV2/MTZVYTZHcVNJUDB2/MS5qcGc" alt="">
                    <div class="p-card">
                        <h4>Your Orders</h4>
                        <p>Order Status</p>
                        <p>View Details</p>
                    </div>
                </div>
            </div>
            <div class="problem-box">
                <div class="problem">
                    <img src="https://imgs.search.brave.com/Y_rmO_RweXBV13fhQEyWzgd5axk2ZjngUG_Fy4WZWKo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzcyLzc4Lzcw/LzM2MF9GXzI3Mjc4/NzA2M19tRmsza05C/b2dSTDNBcTI3TDV2/MTZVYTZHcVNJUDB2/MS5qcGc" alt="">
                    <div class="p-card">
                        <h4>Your Orders</h4>
                        <p>Order Status</p>
                        <p>View Details</p>
                    </div>
                </div>
            </div>
            <div class="problem-box">
                <div class="problem">
                    <img src="https://imgs.search.brave.com/Y_rmO_RweXBV13fhQEyWzgd5axk2ZjngUG_Fy4WZWKo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzcyLzc4Lzcw/LzM2MF9GXzI3Mjc4/NzA2M19tRmsza05C/b2dSTDNBcTI3TDV2/MTZVYTZHcVNJUDB2/MS5qcGc" alt="">
                    <div class="p-card">
                        <h4>Your Orders</h4>
                        <p>Order Status</p>
                        <p>View Details</p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>

    <div class="contact-info">
        <p>For any inquiries or to place an order, please contact us via:</p>
        <ul>
            <li><strong>Email:</strong> <a href="mailto:info@bookstore.com">xyz@bookstore.com</a></li>
            <li><strong>Phone:</strong> 8091082401</li>
            <li><strong>Address:</strong> 123 M, City, State, ZIP Code</li>
        </ul> 
    </div>
{% endblock %}