{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="hero">
        <div class="intro">
            <h1>Welcome to My Book Store</h1>
            <p>We have a wide selection of books for all ages and interests. <br> Browse our <a href="{% url 'products' %}"><em>products</em></a> page to see what we have available.</p>
            <form class="search-form" method="get" action="{% url 'products' %}">
                <input class="search-input" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="search-button" type="submit">Search</button>
            </form> 
        </div>
        <div class="image">
            <img src="https://plus.unsplash.com/premium_vector-1682298733507-e1988018a5e1?bg=FFFFFF&q=80&w=1800&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <div class="logo">
                <h3>Book Store</h3>
                <h6>on Top</h6>
            </div>
        </div>
    </div>
    <section>
        <div class="newthings">
            <h1>New things coming soon...</h1>
            <p>Our team is hard at work on new content,Get ready for the latest and greatest!   We're dedicated to providing you with the best experience possible <span><em>Stay tuned for more!</em></span></p>
        </div>
    </section>
    <h1>Products</h1>
    <div class="box_container">
        {% for book in books %}
        <div class="card_box">
            <div class="card">
                <img src="{{ MEDIA_URL }}{{ book.image.url }}" class="card-img" alt="{{ book.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <div class="TP">
                        <p class="card-text">{{ book.author }}</p>
                        <p class="card-text">${{ book.price }}</p>
                    </div>
                    <a href="{% url 'product_detail' book.pk %}" class="btn">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
